*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(-45deg, rgb(2, 92, 37), rgb(42, 90, 32), rgb(26, 92, 167), rgb(41, 17, 179));
}
/*cabeçalho do site*/
header{
    height: 10vh;
}
header h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 15vh;
    text-transform: uppercase;
}
/*corpo do site*/
section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#body-area{
    width: 40vw;
    display: flex;
}
#dados{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    flex: 1;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
#txtn{
    width: 183px;
    height: 20px;
    border: 0;
    border-radius: 8px;
    background-color: rgb(91, 134, 184);
    color: #fff;
    font-size: 11px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.botao{
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: rgb(58, 117, 2);
    border: 0;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.botao:hover{
    background-color: rgb(68, 134, 6);
}



#resul{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 15px 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
select{
    border: 0;
    background-color: #999;
    width: 150px;
    font-size: 12px;
}
#resul p{
    font-size: 15px;
    font-weight: 600;
}
#dados #star,
#end,
#step{
    width: 100px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}
#botton{
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-image: linear-gradient(-45deg, rgb(41, 30, 54), rgb(57, 22, 90), rgb(40, 8, 116), rgb(23, 0, 156));
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 3px 3px 10px #000;
    border: 0;
    cursor: pointer;


}

/*rodapé do site*/
footer{
    height: 10vh;
    color: #999;
    text-align: center;
    line-height: 10vh;
    font-size: 12px;
}